/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "twitter/bootstrap";
input#user_email {
  width: 50%;
}

.logo {
  max-width: 155px; 
  max-height: 155px; 
}

#versus {
  display: inline;
  font-family: Impact, fantasy;  
  font-size: 100px
}

.navbar-KickUp {
  text-decoration: none;
}

#stats {
  line-height: 2;
  font-family: Arial, Verdana, sans-serif;
  font-size: 18px
}

#home {
  font-size: 18px;

}

#away {
  font-size: 18px;

}

li :link {
  color: #428bca;

}


li :visited {
  color: #926CD6;

  
}

.btn-success {
  margin-top: 8px;
  background-color: #FF8100; 
  border-color: #FF8100;
}

body#bgimg {
  background: url("background/goal.png");
  background-size: 500px 200px;
  background-repeat: repeat;

}

p#copyright {
  font-weight: bold;
  color: #FF8100; 
  line-height: 0.40em;
  font-size: 22px;
}

body.constantimg {
  background: rgba(205, 211, 216, 0.15);
}

.btn-primary {
  margin-top: 4px;
  background-color: #62B1D0; 
  border-color: #62B1D0;
}

// p#msg {
//   text-align: center;
// }

div.container div.jumbotron {
  padding-left: 10px;
  padding-right: 10px;

}

